API_BASE_URL=https://api-bwl.example.com
NEXT_PUBLIC_API_BASE_URL=${API_BASE_URL}
BETTER_AUTH_SECRET=better-auth-secret
NEXT_PUBLIC_APP_URL=https://bwl.example.com
REDIRECT_URI=https://bwl.example.com/auth/callback
MEZON_CLIENT_ID=mezon-client-id
MEZON_CLIENT_SECRET=mezon-client-secret