# App
PORT=5100
NODE_ENV=development
EXTEND_CORS="http://localhost:3000;https://bwl.example.com"
# Database
DATABASE_USERNAME=DATABASE_USERNAME
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_HOST=DATABASE_HOST
DATABASE_PORT=5432
DATABASE_NAME=DATABASE_NAME
# JWT
JWT_SECRET=JWT_SECRET
# REDIS
REDIS_URL=redis://localhost:6379

# S3 Storage
S3_API_ENDPOINT=https://s3-api-endpoint.example.com
S3_CDN_ENDPOINT=https://s3-cdn-endpoint.example.com
S3_ACCESS_KEY_ID='S3_ACCESS_KEY_ID'
S3_SECRET_ACCESS_KEY='S3_SECRET_ACCESS_KEY'
S3_BUCKET_NAME=nestjs-template
S3_FOLDER=bwl

# Mezon Bot
MEZON_BOT_ID=MEZON_BOT_ID
MEZON_BOT_TOKEN=MEZON_BOT_TOKEN
WHITELIST_CHANNEL_IDS=channel_id_1,channel_id_2